    <!-- ******ABOUT****** -->
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is this?</h2>
            <p class="intro text-center">
              Tlaloc Sprinklers aims to be an open source, platform agnostic, solution
              for sprinkler automation and control.
            </p>

            <h2 class="title text-center">What can I use right now?</h2>
            <p class="intro text-center">
              Currently <a href="https://github.com/tlaloc-sprinklers/tlaloc-adapter-ospi">tlaloc-adapter-ospi</a> is
              the only usable part of the system. So your limited command line usage of this gem. If you
              want to cron your sprinklers, this should get you up and running quickly.
            </p>

            <h2 class="title text-center">What do I need?</h2>
            <p class="intro text-center">
              <ul>
                <li><a href="https://www.raspberrypi.org/products/">Raspberry Pi</a></li>
                <li><a href="http://rayshobby.net/ospi/">Open Sprinkler Pi</a></li>
                <li>Sprinkler system</li>
              </ul>
            </p>
        </div><!--//container-->
    </section><!--//about-->
